@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.app {
  padding: 30px 20px;
}

.form {
  margin:0 0 25px;
  display: flex;
}

.form__input {
  font-size: 14px;
  padding: 5px 5px 5px 10px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
}

.form__button {
  height: 31px;
  background: burlywood;
  border: 0;
  color: #ffffff;
  cursor: pointer;
}

.list {
  display: flex;
  flex-wrap: wrap
}

.list-item {
  padding: 10px;
  border: 1px solid #eeeeee;
  margin: 0 10px 10px 0;
  border-radius: 7px;
}

.form__button:hover {
  opacity: 0.9;
}